{% extends "base.html" %}

{% block body %}
<a href="create.php"><button>Tambah Produk</button></a>
<table>
    <tr>
        <th>ID</th>
        <th>Nama Produk</th>
        <th>Harga Satuan</th>
        <th>Gambar Produk</th>
        <th colspan="2">Action</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item['id']}}</td>
        <td>{{item['nama']}}</td>
        <td>{{item['harga']}}</td>
        <td><img src="{{item['image']}}" style="max-width: 300px"></td>
        <td><a href="{{item['url_edit']}}"><button>Edit</button></a></td>
        <td><a href="{{item['url_delete']}}" onclick="return konfirmasi('Yakin dihapus?')"><button>Delete</button></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block script %}
<script type="text/javascript">
function konfirmasi(pesan) {
    lanjut = confirm(pesan);
    if (! lanjut)
        return false;
    return true;
}
</script>
{% endblock %}
